/* Desktop */
@media (min-width: 981px) and (max-width: 1280px) {

    body::before{ 
        content: "Desktop media query (< 980px) fired"; 
        font-weight: bold; 
        display: block; 
        text-align: center; 
        background: rgba(255,255,0, 0.9);
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        z-index: 99; 
    }
}